
<p>
  <strong>User:</strong>
  <%= @like.user.id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @like.score %>
</p>

<%= link_to 'Edit', edit_proposal_comment_like_path(@proposal, @like.comment, @like) %> |
<%= link_to 'Back', proposal_comment_likes_path(@proposal, @comment) %>
