
<p>
  <strong>Texto:</strong>
  <%= @proposal.texto %>
</p>

<p>
  <strong>User:</strong>
  <%= @proposal.user.email %>
</p>

<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>
